/* Reset  */
* {
    margin: 0;
    font-family: cursive;
}

mark {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: inherit;
}

.icon:hover {
    cursor: pointer;
    color: #f8f7ff;
}

/* Dark */
h1,
h2,
h3 {
    color: #4a5759;
}

.sec-bg {
    background-color: #4a5759;
}

/* Ligh */
.icon,
footer > h3 {
    color: #dedbd2;
}
.base-bg {
    background-color: #dedbd2;
}

.full-view {
    height: 80vh;
}

.slide {
    max-height: 500px;
}

.center {
    text-align: center;
}
